* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
}
a {
  text-decoration: none;
}
li {
  text-decoration: none;
}
.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page-container {
  width: 100%;
  flex: 1;
}
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1em;
}
